* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    
  }

  .slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 44px 34px 44px;
    
}

.slider div{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    width: 700px;

}

.mural{
    margin-top: 50px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    
}


