.slider-container {
  width: 100%;
  height: 300px;
  position: relative;
  align-content: center;
  overflow: hidden; 
}

.slide {
  display: none; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active {
  display: block;
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.prev { 
  left: 10px; 
}
.next { 
  right: 10px; 
}

.index-container {
  align-self: flex-end;
  display: flex;
  gap: 30px;
}

.index-container > button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.3);
  transition: background-color .2s;
  cursor: pointer;
}

.index-container > button:hover {
  background-color: rgba(255,255,255, 0.4);
}

.slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider-controls button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-controls button img {
  width: 100%;
  height: 100%;
}

.slider-controls button:hover {
  background-color: rgba(255, 255, 255, 0.);
}