* {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

main {
  margin: auto;
  width: 90%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

.top-bar {
  margin-top: 0;
} 

.title {
  height: 50px;
  background-color: brown;
  top: 10;
  align-items: center;
  border-radius: 12px 12px 0px 0px;
}

h1 {
  padding-top: 10px;
  text-align: center;
  color: #f7f7f7;
}

.name {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

.email {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.cellphone {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

#field-name {
  font-size: 14px;
  width: 300px;
  padding: 5px;
}

#field-email {
  font-size: 14px;
  /* padding-left: 8px; */
  /* padding-right: 8px; */
  width: 300px;
  padding: 5px;
}

#field-phone {
  font-size: 14px;
  padding: 5px;
}

.calendar{
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 15px;
  margin-top: 30px;
  background-color: #fff;
  height: 100px;
  
}

 .idate{
  display: flex;
 }

 .date{
  border-radius: 50px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  font-size: 20px;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 25px;
  width: 250px;
  padding: 10px;
 }

 .calendar1{
  font-size: 25px;
  margin-top: 35px;
  margin-left: 10px;
 }

 #error-message{
  text-align: center;
  margin-top: 35px;
 }

 .itime{
  font-size: 25px;
  margin-top: 35px;
  margin-left: 10px;
 }

 .horario {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  margin: 5px;
}

.horario.selecionado {
  background-color: #fff;
}

.time{
  background-color: #216849;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  
  margin-top: 20px;
  height: 150px;
  overflow-x: auto;
  
}

#horarioSelecionado {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
  
.info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.btn {
  margin-top: 24px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  text-align: center;
  justify-content: space-between;
  display: flex;
}

#btn-next:hover{
  cursor: pointer;
}

#btn-back{
  border-radius: 12px;
  color:#fff;
  background-color: brown;
  font-size: 20px;
  padding: 10px;
}

#btn-next{
  border-radius: 12px;
  color:#fff;
  background-color: brown;
  font-size: 20px;
  padding: 10px;
}


/*teste*/

/* Estilos para a lista de horários */
h2{
  text-align: center;
  color: #fff;
  
}

.horario-item {
  list-style-type: none;
  margin: 5px 0;
  padding: 8px;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}

.horario-item:hover {
  background-color: #ddd;
}

.horario-item:focus {
  outline: none;
  background-color: #e6e6e6;
}

.horario-item.horario-selecionado {
  background-color:#9adabd;
  color: white;

}
  
