body {
    user-select: none;
    font-family: Arial, sans-serif;
  }
  
  
  
  main{
    
    margin: auto;
    width: 450px;
    height: 700px;
    background-color: #f7f7f7 ;
    
  }
  
  h1{
    padding-top: 10px;
    text-align: center;
    margin-top: 100px;
    color: #f7f7f7;
    
  }
  
  .cliente{
    height: 50px;
    background-color: #216849;
  
  }

  .nome{
    display: flexbox;
    height: 200px;
    padding: 15px;
    margin: 20px;
    background-color: #fff;
  }

  .dados{
    margin: 10px;
  }

  #name{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
  }

  #iname{
    padding: 5px;
    width: 300px;
  }

  #email{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
  }

  #iemail{
    padding: 5px;
    width: 300px;
  }

  #numero{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
  }

  #inumero{
    padding: 5px;
  }


 .calendar{
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 15px;
  margin-top: 30px;
  background-color: #fff;
  height: 100px;
  
 }

 .idate{
  display: flex;
 }

 .date{
  border-radius: 50px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  font-size: 20px;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 25px;
  width: 250px;
  padding: 10px;
 }

 .calendar1{
  font-size: 25px;
  margin-top: 35px;
  margin-left: 10px;
 }

 #error-message{
  text-align: center;
  margin-top: 35px;
 }

 .itime{
  font-size: 25px;
  margin-top: 35px;
  margin-left: 10px;
 }

 .horario {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  margin: 5px;
}

.horario.selecionado {
  background-color: #fff;
}

.time{
  background-color: #216849;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  
  margin-top: 20px;
  height: 150px;
  overflow-x: auto;
  
}

#horarioSelecionado {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
  
.info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

  .btn1{
    margin-top: 30px;
    margin-left: -10PX;
    
    
    
    
}

.btn2{
    margin-top: 30px;
    margin-left: 230px;
    
    
}

#btn-next:hover{
    cursor: pointer;
    background-color: #77cea8;
}

.btn-info{
    display: flex;
    margin-left: 20px;
}
  
  #btn-next{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color:#fff;
    background-color: #216849;
    font-size: 20px;
    padding: 10px;
    width: 100px;
}



/*teste*/

/* Estilos para a lista de horários */
h2{
  text-align: center;
  color: #fff;
  
}

.horario-item {
  list-style-type: none;
  margin: 5px 0;
  padding: 8px;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}

.horario-item:hover {
  background-color: #ddd;
}

.horario-item:focus {
  outline: none;
  background-color: #e6e6e6;
}

.horario-item.horario-selecionado {
  background-color:#9adabd;
  color: white;

}
  
