body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 500px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
}

.step {
    display: none;
}

.active {
    display: block;
}

input {
    padding: 15px 20px;
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

input:focus {
    border: 1px solid #009688;
    outline: 0;
}

.invalid {
    border: 1px solid #ffaba5;
}

#nextBtn,
#prevBtn {
    background-color: #009688;
    color: #ffffff;
    border: none;
    padding: 13px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}

#nextBtn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#prevBtn {
    background-color: #ffffff;
    color: #009688;
    border: 1px solid #009688;
}

#prevBtn:hover,
#nextBtn:hover:not(:disabled) {
    background-color: #00796b;
    color: #ffffff;
}

.progress {
    margin-bottom: 20px;
}

.selected-service {
    background-color: #009688 !important;
    color: white;
}

.selected-service:hover {
    background-color: #00796b !important; /* Altera a cor de fundo ao passar o mouse */
    color: white !important; /* Mantém a cor do texto branca */
}

.selected-worker {
    background-color: #009688 !important;
    color: white;
}

.selected-worker:hover {
    background-color: #00796b !important; /* Altera a cor de fundo ao passar o mouse */
    color: white !important; /* Mantém a cor do texto branca */
}

.list-group-item {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* exemplo de sombra */
}

.input-group-append {
    cursor: pointer;
}

.datepicker-container {
    width: 250px; /* Ajuste a largura conforme necessário */
}

.pika-single .pika-button:hover {
    background-color: #009688; /* Mudar a cor ao passar o mouse */
    color: #fff; /* Texto branco para contraste */
}

#available-times {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow-y: auto;
}
.form-control {
    width: 300px;
    margin: 0 auto;
}

#dateList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow-y: auto;
}

#selectTime {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group-item.active {
    background-color: #009688;
    color: white;
    border-color: #009688;
    border-width: 2px;
}

#name-input {
    padding-left: 64px;
    padding-top: 12px;
}

#email-input {
    padding-left: 64px;
    padding-top: 12px;
}

#phone-input {
    padding-left: 64px;
    padding-top: 12px;
}