/* styles.css */

* {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  overflow: hidden;
}

main {
  margin: auto;
  width: 90%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 20px;
}

.title {
  height: 50px;
  background-color: brown;
  top: 10;
  align-items: center;
  border-radius: 12px 12px 0px 0px;
  margin-bottom: 20px;
}

.time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
}

.value {
  font-size: 18px;
  font-weight: 800;
  margin-top: 12px;
}

.btn {
  margin-top: 24px;
  text-align: right;
}

#btn-next:hover {
  cursor: pointer;
}

#btn-next {
  margin-top: 20px;
  border-radius: 12px;
  color: #fff;
  background-color: brown;
  font-size: 20px;
  padding: 10px 30px;
}
